@font-face {
	font-family: 'Inter';
	src: url('./asssets/Inter-VariableFont.ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
	background: var(--background);
}

#header {
	width: auto;
	background: var(--text);
	color: var(--background);
	display: flex;
	padding: 1vw;
}

#title {
	flex: 1;
}

#footer {
	width: auto;
	background: var(--text);
	color: var(--background);
	display: flex;
	padding: 1vw;
	font-size: 12px;
}
